body {
  margin: 0;
  background-color: #e9e9e9;
}

a {
  text-decoration: none;
}

.modal {
  text-align: center;
  margin: 0;
  padding-top: 10px;
  width: calc(100%);
  height: fit-content;
}



.close {
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  top: 2%;
  right: 2%;
  color: #aaaaaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


 
 .howToPlay {
  text-align: left;
  border: 3px solid grey;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 grey;
  background-color: azure;
  width: 60%;
margin: auto;
}
.howToPlay ul{
padding-left: 5vw;

}

 .howToPlay h1 {
  text-align: center;
  font-family: Fredoka One;
  font-weight: 100;
  font-size: xx-large;
  text-decoration: underline;
  margin: 10px auto;
  transform: none;
  color: black;
  
}

 .howToPlay li {
  list-style: disc;
  font-family: "Acme", sans-serif;
  font-size: x-large;
}

 .contentHide{
  display: none  !important;
}

 .howToPlayButton {
  cursor: pointer;
  font-weight: bold;
  color: grey;
  font-size: larger;
  padding: 6px 14px;
  display: inline-block;
  border: 2px solid grey;
  border-radius: 10px;
  margin: 10px;
}

.howToPlayButton:hover{
  color: whitesmoke;
  background-color: grey;
}

@media only screen and (max-width: 880px) {

.modal {
    display: none;
  }}