.modal {
    display: none;
    position: fixed;
    z-index: 1;
   padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    position: relative;
    /* background-color: #fefefe; */
    background-color: #e9e9e9;
    align-items: center;
    margin: auto;
    padding: 10px 20px ;
    border-radius: 10px;
    width: 80%;
  }
  
  .close {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 2%;
    right: 2%;
    color: #aaaaaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }