.gamecontent{
    border-radius: 20px;
    background-color: #aca9a947;
    margin: 30px auto;
    width: 450px;
    text-align: center;
}


  
  #tictactoe .game-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: auto;
    margin-top: 2rem;
  }
  #tictactoe .game-pad input {
    background-color: rgb(232, 231, 231);
    border: 1px solid grey;
    outline: none;
    font-size: 24px;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
  }
  #tictactoe .game-pad .click {
    border: 2px solid black;
  }
  #tictactoe p {
    color: black;
    border: 2px solid black;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    padding: 5px 2px;
    font-weight: 900;
    box-shadow: 2px 3px 30px rgb(65, 64, 64);
    transition: 0.3s;
  }
  #tictactoe .status {
    animation: notwin 0.1s ease normal 6;
  }
  @keyframes notwin {
    0% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(-5px);
    }
  }
  
  #tictactoe button {
    border: 1mm solid gray;
    width: 20%;
    background-color: gray;
    color: white;
    font-size: 18px;
    padding: 3px 8px;
    transition: 0.1s;
    margin-top: 1rem;
    visibility: hidden;
    cursor: pointer;
  }
  #tictactoe button:hover {
    background-color: rgb(255, 255, 255);
    color: gray;
  }
  #tictactoe .active {
    visibility: visible;
  }
  #tictactoe .disable {
    pointer-events: none;
  }
  
  