#game_2048 #board_game {
    width: 406px;
    height: 400px;
    background-color: #cdc1b5;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#game_2048 .game{
 
    text-align: center;
    width: 50%;
    padding: 10px 0;
    margin:0 auto 20px;
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 0 0  20px 10px aliceblue;
}
#game_2048 h1 {
    text-align: center;
    font-family: Fredoka One;
    font-weight: 100;
    font-size: xx-large;
    text-decoration: underline;
    margin: 10px auto ;
}


#game_2048 .tile {
    width: 91px;
    height: 91px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* colored tiles */

#game_2048 .x2 {
    background-color: #eee4da;
    color: #727371;
}

#game_2048 .x4 {
    background-color: #ece0ca;
    color: #727371;
}

#game_2048 .x8 {
    background-color: #f4b17a;
    color: white;
}

#game_2048 .x16{
    background-color: #f59575;
    color: white;
}

#game_2048 .x32{
    background-color: #f57c5f;
    color: white;
}

#game_2048 .x64{
    background-color: #f65d3b;
    color: white;
}

#game_2048 .x128{
    background-color: #edce71;
    color: white;
}

#game_2048 .x256{
    background-color: #edcc63;
    color: white;
}

#game_2048 .x512{
    background-color: #edc651;
    color: white;
}

#game_2048 .x1024{
    background-color: #eec744;
    color: white;
}

#game_2048 .x2048{
    background-color: #ecc230;
    color: white;
}

#game_2048 .x4096 {
    background-color: #fe3d3d;
    color: white;
}

#game_2048 .x8192 {
    background-color: #ff2020;
    color: white;
}


#game_2048 button.restart2048 {
    border-radius: 5px;

    font-weight: 600;
    padding: 4px 8px;
    margin: 20px auto;
    border: 2px solid grey;
    color: grey;
}

#game_2048 button.restart2048:hover{
    color: white;
    background-color: grey;
}