canvas {
  margin-left: 22vw;
  margin-top: 30px;
  border: 3px solid grey;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 2px grey;
  position: relative;
  z-index: 5;

}

button.restartdotandboxes
{
  font-size: large;
  border-radius: 5px;
  font-weight: 600;
  padding: 6px 14px;
  margin: 0 20px;
  border: 2px solid black;
  color: black;
  background-color: transparent;
}

button.restartdotandboxes:hover {
  color: white;
  background-color: black;
}

div.buttons {
  text-align: center;
}