#board_connect4{
    height: 540px;
    width: 598px;
    background-color: #1f90ff;
    border: 20px solid #007fff;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px deepskyblue;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
  h1 {
    font-family: Fredoka One;
    font-weight: 600;
    font-size: x-large;
    text-decoration: underline;
    margin: 10px auto 20px;
}
  .tile {
    height: 70px;
    width: 70px;
    margin: 5px;
   
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    border: 3px solid #007fff;
}
  #winner{
    margin: 10px auto;
    font-family: Arima;
    font-weight: 900;
    padding: 0;
    width: fit-content;
    text-decoration: underline;
  text-decoration-thickness: 5px;

}

 .red-piece {
    background-color: red;
}

  .yellow-piece {
    background-color: yellow;
}

 button.restartConnect4 {
    border-radius: 5px;

    font-weight: 600;
    padding: 8px 16px;
    margin: 10px auto 0;
    border: 2px solid grey;
    color: grey;
}

 button.restartConnect4:hover{
    color: white;
    background-color: grey;
}